.standard {
    padding: 0.5em;
    font-size: 0.8em;
    font-family: Garamond;   
    font-style: italic;
}

.h1-part1 {
    margin-top: .1em;
    font-family: Palatino;
    font-style: italic;
    font-size: 2em;
}

.h1-part2 {
    font-family: Palatino;
    display: block;
    font-size: 2.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
  }  