.standard {
    padding: 0.2em;
}

.details {
    display: block;
    font-family: Garamond;
    color: #23b0c2;
    font-size: 1.3em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }