<app-header  [email]="email" [bonus]="bonus" ></app-header>
<mat-card>
    <h1 class="mat-h1">Validated Emails</h1>    
    <mat-list>
        <mat-list-item *ngFor="let user of users">
          <h3 matLine> {{user.email}} </h3>
          <p matLine>
            <span> Is Verified: </span>
            <span> {{ user.isVerified }} </span>
          </p>
        </mat-list-item>
      </mat-list>

      <button mat-flat-button 
      color="accent" 
      (click)="navigateToHome()">Back</button>
</mat-card>