<app-header></app-header>
<mat-card>
    <h1 class="mat-h1">Guermantes Way</h1>    
    <div class="angular-with-newlines" *ngIf="content">
            {{content.text}}
    </div>

    <div *ngIf="!loggedIn" class="standard">
            <div *ngIf="!showLoginRegisterBool">
                    <button mat-flat-button 
                    color="accent" 
                    (click)="showLoginRegister()">Read More</button>
            </div>
            <div *ngIf="showLoginRegisterBool">
                <app-login (loggedIn)="updateLoggedIn($event)"></app-login>
            </div>
    </div>
</mat-card>