<app-header></app-header>
<mat-card>
    <mat-card-title>User Registration</mat-card-title>
    <mat-card-content style="width:50%">
        <div *ngIf="!registered">
                <form
                [formGroup]="registerForm"
                (ngSubmit)="onSubmit(registerForm)"
                fxLayout="column"
            >
            <mat-form-field appearance="outline" color="primary">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" required autocomplete="email" />
                  </mat-form-field>
            <mat-form-field appearance="outline" color="primary">
                <mat-label>Password</mat-label>
                <input
                    matInput
                    type="password"
                    formControlName="password"
                    required
                    autocomplete="new-password"
                    matTooltipPosition="above"
                />
                </mat-form-field>
                <mat-form-field appearance="outline" color="primary">
                <mat-label>Confirm Password</mat-label>
                <input
                    matInput
                    type="password"
                    formControlName="verifyPassword"
                    required
                />
                </mat-form-field>
                <div fxLayoutAlign="space-around">
                    <button class="button" type="submit" mat-raised-button  [disabled]="!registerForm.valid">Submit</button>
                </div>
            </form>
        </div>
        <div *ngIf="registered">
            <h3 class="mat-h3">Please verify your email before attempting to login</h3>
            <button mat-flat-button 
            color="accent" 
            (click)="navigateToHome()">Back</button>
            <button mat-flat-button 
            (click)="resendVerificationEmail()">Click here to resend email</button>
        </div>
    </mat-card-content>
</mat-card>